@import "~src/styles/variables.scss";

:host {
  display: block;
  padding: 50px $app-padding-sides;
  max-width: 400px;
  margin: auto;

  form > app-button {
    background: color(purple);
    color: #fff;
  }

  .disabled {
    opacity: 0.5;
  }
}

@media (max-width: screen(small)) {

  :host {
    width: 100%;
    box-sizing: border-box;
  }
}
